<!DOCTYPE html>
<html lang="en">
<head>
    <title>BeneQuick Web Test</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>

    <script src="script/testApp.js"></script>

    <style>
        body {
            font-size: .6rem;
        }
    </style>

</head>


<body ng-app="bqTestModule" ng-cloak>
<div class="container" ng-controller="FetchController">

    <h3>Member Data File Viewer App</h3>
    <form>
        <h4>Select State</h4>
        <label>
            <select class="custom-select" ng-model="selectedName" ng-options="x for x in stateList" (ngModelChange)="{{searchMembers(selectedName)}}">
                <option value="" >Select State</option>
            </select>
        </label>
    </form>

    <!-- Display your states in a drop down here -->
    <br />

    <div>

            <h4> Members from state: {{selectedName}} </h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>State</th>
                    <th>Zip</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat = "member in dataList">


                    <td>{{member.id}}</td>
                    <td>{{member.address}}</td>
                    <td>{{member.city}}</td>
                    <td>{{member.firstName}}</td>
                    <td>{{member.lastName}}</td>
                    <td>{{member.state}}</td>
                    <td>{{member.zip}}</td>
                </tr>
                    <!-- Populate member details per state here -->
                </tbody>
            </table>

    </div>


</div>


</body>
</html>